{% load mytags %}
<td><a href="/user/{{test.author}}">{{test.author|capfirst|slice:":6"}}</a></td>
<td>{{test.dev_engine}}</td>
<td>
    <a href="{{test|workload_url}}">{{test|prettyDevName}}</a>
    {% if test|test_is_crash %} <span class="tag tag-crash">CRASH</span> {% endif %}
    {% if test|test_is_flag %} <span class="tag tag-flag">FLAG</span> {% endif %}
    {% if test|test_is_fischer %} <span class="tag tag-frc">FRC</span> {% endif %}
    {% if test|test_is_time_odds %} <span class="tag tag-time">TIME ODDS</span> {% endif %}
    {% if test|test_is_smp %} <span class="tag tag-smp">SMP</span> {% endif %}
    {% if test|test_is_smp_odds %} <span class="tag tag-smp">SMP ODDS</span> {% endif %}
</td>
<td class="textcenter"><a class="diff-link" href="{{test|gitDiffLink}}">diff</a></td>
<td>
    {{test.dev_time_control}}
</td>
<td class='statblock statblock-{{test|testResultColour}}'><strong>{{test|shortStatBlock|linebreaksbr}}</strong></td>